.fa {
	color: #CFE2F3;
}

.fa-birthday-cake {
	color: #1764FB;
}

.box-example {
	/*height: 50px;*/
	width: 50px;
	background: pink;
	font-size: 10px;
	position: relative;
	/*overflow: scroll;*/
}

.box-example::before {
	content: 'look text!';
	display: block;
	background: green;
}

.box-example::after {
	content: '';
	display: block;
	/*height: 10px;
	width: 10px;*/
	/*background: blue;*/
	position: absolute;
	bottom: -5px;
	border-top: 5px solid black;
	border-right: 5px solid transparent;
	border-bottom: 0;
	border-left: 5px solid transparent;
	/*box-sizing: border-box;*/
}
